@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: rgb(8, 139, 171);
    --grey: rgb(37, 37, 37);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.background-form {
    position: absolute;
    top: -700px;
    left: -500px;
    height: 1000px;
    width: 1000px;
    background-color: var(--blue);
    z-index: 0;
    transform: rotate(155deg);
}

/* Header */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    gap: 20px;
    z-index: 1;
}

.header-img {
    height: 350px;
    width: auto;
    display: flex;
    align-items: flex-end;
    margin: 10px 30px;
    padding: 0 15px;
    background-image: url(img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

.header-title {
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    font-family: "Playfair Display", sans-serif;
    text-shadow: -1px -1px 7px black;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-me-title {
    font-size: 2.1rem;
    font-family: "Playfair Display";
    text-align: center;
}

.about-me-text {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    color: var(--grey);
}

.header-icons-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.icon-btn {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
}

/* Main */
.main {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    font-size: 2.1rem;
    font-family: "Playfair Display";
    text-align: center;
} 

.projects  {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project  {
    width: 100%;
    height: 320px;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.4);
}

.project-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
} 

.project-information {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
}

.project-name {
    font-size: 1.5rem;
    font-family: "Playfair Display";
} 

.project-icons-container {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 20px;
}

.project-icons-container > .icon > img {
    width: 20px;
}

.project-description {
    font-family: "Robot", sans-serif;
    color: var(--grey);
}

/* Footer */

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    background-color: var(--blue);
    padding: 20px;
    color: white;
}

.footer-title {
    font-size: 2.5rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: lighter;
    text-align: center;
}

.contact-me-text {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.footer-information {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.footer-mobile-number {
    margin: 20px 0 5px 0;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.footer-icons-container > a > img {
    height: 40px;
    width: 40px;
}

.footer-img {
    position: absolute;
    bottom: -450px;
    left: 0;
    right: 0;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

/* Mediaqueries */
@media (min-width: 480px) {
    body {
        background-color: aqua;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: red;
    }
}