@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: rgb(8, 139, 171);
    --grey: rgb(37, 37, 37);
    --red: rgb(158, 28, 28);
    --purple: rgb(124, 117, 202);
    --pink: rgb(195, 99, 180);
    --orange: rgb(216, 143, 57);
    --green: rgb(94, 143, 77);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.background-form {
    position: absolute;
    top: -220px;
    height: 500px;
    width: 100%;
    background-color: var(--blue);
    transform: skewY(345deg);
}

/* Header */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    gap: 20px;
    z-index: 1;
}

.header-img {
    height: 350px;
    width: min(100% - 20px, 350px);
    display: flex;
    align-items: flex-end;
    margin: 10px 30px;
    padding: 0 15px;
    background-image: url(img/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

.header-title {
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    font-family: "Playfair Display", sans-serif;
    text-shadow: -1px -1px 7px black;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-me-title {
    font-size: 2.1rem;
    font-family: "Playfair Display";
    text-align: center;
}

.about-me-text {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    color: var(--grey);
}

.header-icons-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.icon-btn {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
}

/* Main */
.main {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    font-size: 2.1rem;
    font-family: "Playfair Display";
    text-align: center;
} 

.projects  {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project  {
    width: 100%;
    height: 320px;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.4);
}

.project-img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.projects > .project:nth-child(1) > .project-img {
    background-color: var(--red);    
}

.projects > .project:nth-child(2) > .project-img,
.projects > .project:nth-child(5) > .project-img {
    background-color: var(--purple);    
}

.projects > .project:nth-child(3) > .project-img {
    background-color: var(--pink);    
}

.projects > .project:nth-child(4) > .project-img {
    background-color: var(--orange);    
}

.projects > .project:nth-child(6) > .project-img {
    background-color: var(--green);    
}

.project-img > p {
    font-size: 2rem;
}

.project-information {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
}

.project-name {
    font-size: 1.5rem;
    font-family: "Playfair Display";
} 

.project-icons-container {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 20px;
}

.project-icons-container > .icon > img {
    width: 20px;
}

.project-description {
    font-family: "Robot", sans-serif;
    color: var(--grey);
}

/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    margin-top: 50px;
    padding: 20px;
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer-title {
    font-size: 2.5rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: lighter;
    text-align: center;
}

.contact-me-text {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.footer-information {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.footer-adress-2 {
    margin-bottom: 20px;
}

.footer-mobile-number,
.footer-mail {
    display: flex;
    margin-bottom: 10px;
}

.footer-mobile-number > img,
.footer-mail > img {
    display: none;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.footer-icons-container > a > img {
    height: 40px;
    width: 40px;
}

.footer-img {
    position: absolute;
    bottom: -450px;
    left: 0;
    right: 0;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

/* Mediaqueries */
@media (min-width: 500px) {
    /* Header */
    .about-me-text {
        padding: 0 40px;
    }

    /* Main */
    .main {
        padding: 20px 70px;
    }

    .main-title {
        text-align: left;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
        gap: 50px;
    }

    .project-icons-container {
        gap: 15px;
    }

    .project-icons-container> .icon> img {
        width: 23px;
    }

    .project-description {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .background-form {
        height: 600px;
        top: -220px;
    }

    /* Header */
    .header {
        display: block;
    }

    .header-img {
        float: left;
        margin-top: 40px;
        height: 400px;
    }

    .header-title {
        position: absolute;
        top: 80px;
        right: 160px;
        font-size: 2.5rem;
    }

    .about-me{
        display: block;
        background-color: white;
        width: 600px;
        margin: 130px auto auto auto;
        padding: 50px 20px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    }

    .about-me-title {
        font-size: 2.5rem;
    }

    .about-me-text {
        font-size: 1.3rem;
        margin-top: 20px;
    }

    .header-icons-container {
        display: none;
    }

    /* Footer */
    footer {
        padding: 40px 30px;
    }

    .footer-text-container {
        height: fit-content;
        margin: auto 0;
        gap: 30px;
    }

    .footer-title {
        text-align: left;
    }

    .contact-me-text {
        width: 80%;
    }

    .footer-information {
        font-size: 1rem;
    }

    .footer-mobile-number,
    .footer-mail {
        gap: 10px;
    }

    .footer-mobile-number> img,
    .footer-mail> img {
        display: block;
        width: 20px;
    }

    .footer-icons-container {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .footer-img {
        position: static;
        width: 40%;
        height: 450px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: red;
    }
}
